In [2]:
import pandas as pd
import numpy as np
import random
import string
np.random.seed(56)

In [3]:
def id():
    return ''.join(random.choice(string.ascii_letters) for i in range(5))

In [4]:
id()

'tyxmW'

In [5]:
def score():
    return np.random.randint(0,100)

In [6]:
score()

85

In [7]:
pd.DataFrame([[score() for i in range(1,5)]for i in range(1,11)], index=[id() for i in range(1, 11)], columns=['국어','영어','수학','사회'])

       국어  영어  수학  사회
Dnwjd  15  64  34  14
ZjxVz  87  22  57  90
KwYag  55  24  12  66
qbLVI  43  11  80  33
TWEEd  89  10  31  28
RMaDe  37  34  15  28
NfbDP  89  19  69  41
WWgUI  66  74  65  16
zCrOC  13  20  44  32
faghU   8  29  94  78